block content
    main.container 
        .row.p-3.banner.rounded
            .col-12.py-3
                h1.text-white.banner_title Продажа компрессоров по ценам производителя
                p.text-white.banner_subtitle 14 лет на рынке компрессорного оборудования
                a.btn.btn-catalog.d-none.d-sm-block(href='#') Перейти в каталог
                    i.bi.bi-arrow-right.ms-1
            .col-12.px-5.py-3
                img.mb-3(src=(require('IMG/home-banner.png')))
                p.banner_prod-name Поршневой компрессор REMEZA СБ4/С-24.OLD15
            .col-12
                a.btn.btn-catalog.d-block.d-sm-none(href='#') Перейти в каталог
                    i.bi.bi-arrow-right.ms-
        .row
            .col-12
                include ./_filter-mobile.pug

        .row
            .col-12
                h2.text-center.my-3 Новинки
            .col-12
                .row
                    .col-12
                        .card.text-center.border-0.bg-transparent
                            img.card-img-top(src=(require('IMG/new-product-1.png')))
                            .card-body
                                p.card-text Бензиновый генератом RATO R8000ID
                                a.btn.btn-price.w-100(href='#') 70 000 руб.
                    .col-12
                        .card.text-center.border-0.bg-transparent
                            img.card-img-top(src=(require('IMG/new-product-2.png')))
                            .card-body
                                p.card-text Бензиновый генератом RATO R3500I
                                a.btn.btn-price.w-100(href='#') 70 000 руб.
                    .col-12
                        .card.text-center.border-0.bg-transparent
                            img.card-img-top(src=(require('IMG/new-product-3.png')))
                            .card-body
                                p.card-text Бензиновый генератом RATO R2500IS
                                a.btn.btn-price.w-100(href='#') 70 000 руб.
                    .col-12
                        .card.text-center.border-0.bg-transparent
                            img.card-img-top(src=(require('IMG/new-product-4.png')))
                            .card-body
                                p.card-text Бензиновый генератом RATO R6000E-L2
                                a.btn.btn-price.w-100(href='#') 80 000 руб
        
        .row
            .col
                h2.float-start Проекты
            .col-auto
                a.btn.btn-look.text-end.my-auto(href='#') Смотреть все
                    i.bi.bi-arrow-right.ms-1
            .col-12
                .row
                    .col-12.ps-0
                        a.d-block.slide-item(href='#')
                            img(src=(require('IMG/project-1.png')))
                            p Поставка МКС для Стойленского ГОК
                    .col-10
                        a.d-block.slide-item(href='#')
                            img(src=(require('IMG/project-2.png')))
                            p Спецзаказ для конструкторского бюро машиностроения в Коломне
                    .col-10.pe-0
                        a.d-block.slide-item(href='#')
                            img(src=(require('IMG/project-3.png')))
                            p Инженерное решение для торгового дома «Албес
        .row
            .col
                h2.float-start Отзывы и сертификаты
            .col-auto
                a.btn.btn-look.text-end.my-auto(href='#') Смотреть все
                    i.bi.bi-arrow-right.ms-1
            .col-12
                .row.owl-slider
                    .col-md-2.col-sm-5
                        a.slide-item(href='#')
                            img.img-fluid(src=(require('IMG/reviews-1.png')))
                    .col-12
                        a.slide-item(href='#')
                            img.img-fluid(src=(require('IMG/reviews-2.png')))
                    .col-12
                        a.slide-item(href='#')
                            img.img-fluid(src=(require('IMG/reviews-3.png')))
                    .col-12
                        a.slide-item(href='#')
                            img.img-fluid(src=(require('IMG/reviews-4.png')))
                    .col-12
                        a.slide-item(href='#')
                            img.img-fluid(src=(require('IMG/reviews-5.png')))
                    .col-12
                        a.slide-item(href='#')
                            img.img-fluid(src=(require('IMG/reviews-6.png')))
        
        .row
            .col
                h2.float-start Новости
            .col-auto
                a.btn.btn-look.text-end.my-auto(href='#') Смотреть все
                    i.bi.bi-arrow-right.ms-1
            .col-12
                .row
                    .col-12.bg-white
                        img.img-fluid.mx-auto(src=(require('IMG/news-1.png')))
                        h5.p-2 Каталог пополнился продукцией для воздухоподготовки ARIACOM
                        p.p-2 Продукция итальянской компании ARIACOM 
                        .row.p-2
                            .col.text-start
                                a(href='#') Читать далее
                            .col.text-end
                                p 20.01.2022
                    .col-12.bg-white
                        img.img-fluid.mx-auto(src=(require('IMG/news-2.png')))
                        h5.p-2 Каталог пополнился продукцией для воздухоподготовки ARIACOM
                        p.p-2 Продукция итальянской компании ARIACOM 
                        .row.p-2
                            .col.text-start
                                a(href='#') Читать далее
                            .col.text-end
                                p 20.01.2022
                    .col-12.bg-white
                        img.img-fluid.mx-auto(src=(require('IMG/news-3.png')))
                        h5.p-2 Каталог пополнился продукцией для воздухоподготовки ARIACOM
                        p.p-2 Продукция итальянской компании ARIACOM 
                        .row.p-2
                            .col.text-start
                                a(href='#') Читать далее
                            .col.text-end
                                p 20.01.2022