
ul.nav.nav-tabs.bg-white.d-none.d-sm-flex(id='catalogFilter' role='tablist')
    li.nav-item(role='presentation')
        button.nav-link.active(id='tab-0' data-bs-toggle="tab" data-bs-target="#item-0" type="button" role="tab" aria-controls="item-0" aria-selected="true") Компрессоры
    li.nav-item(role='presentation')
        button.nav-link(id='tab-1' data-bs-toggle="tab" data-bs-target="#item-1" type="button" role="tab" aria-controls="item-1" aria-selected="true") Осушители
    li.nav-item(role='presentation')
        button.nav-link(id='tab-2' data-bs-toggle="tab" data-bs-target="#item-2" type="button" role="tab" aria-controls="item-2" aria-selected="true") Рессиверы
    li.nav-item(role='presentation')
        button.nav-link(id='tab-3' data-bs-toggle="tab" data-bs-target="#item-3" type="button" role="tab" aria-controls="item-3" aria-selected="true") Пескоструйные аппараты
//-.row.px-3
    .col-sm-12
button.btn.btn-secondary.d-block.d-sm-none.mx-auto.w-100.btn-toggle-filter Свернуть фильтр
.tab-content.pt-4.bg-white.filter_mobile(id='catalogFilterContent')
    .tab-pane.fade.show.active(id="item-0" role="tabpanel" aria-labelledby="tab-0" tabindex="0")
        form.row.px-3(action="/" method='post')
            .col-sm-12.d-block.d-sm-none
                h6 Выберите  категорию
                select.d-block.d-sm-none.mb-2.form-select(name="select-categories" aria-label="Выберите  категорию")
                    option(selected) Компрессоры
                    option(value="1") Осушители
                    option(value="1") Рессиверы
                    option(value="1") Пескоструйные аппараты
            .col-2.d-none.d-sm-block
                h6 Производитель
                .form-check
                    input.form-check-input(type="checkbox" value="" id="maker-0")
                    label.form-check-label(for="maker-0") Abac (542)
                .form-check
                    input.form-check-input(type="checkbox" value="" id="maker-1" checked)
                    label.form-check-label(for="maker-0") Berg (642)
                .form-check
                    input.form-check-input(type="checkbox" value="" id="maker-2")
                    label.form-check-label(for="maker-0") Dali (815)
                .form-check
                    input.form-check-input(type="checkbox" value="" id="maker-3")
                    label.form-check-label(for="maker-0") Ekomak (411)
                .form-check
                    input.form-check-input(type="checkbox" value="" id="maker-4")
                    label.form-check-label(for="maker-0") MARK (37)
                .form-check
                    input.form-check-input(type="checkbox" value="" id="maker-5")
                    label.form-check-label(for="maker-0") Abac (542)
                .form-check
                    input.form-check-input(type="checkbox" value="" id="maker-6")
                    label.form-check-label(for="maker-0") Abac (542)
                .form-check
                    input.form-check-input(type="checkbox" value="" id="maker-7")
                    label.form-check-label(for="maker-0") Dali (815)
                .form-check
                    input.form-check-input(type="checkbox" value="" id="maker-8")
                    label.form-check-label(for="maker-0") Ekomak (411)
                .form-check
                    input.form-check-input(type="checkbox" value="" id="maker-9")
                    label.form-check-label(for="maker-0") MARK (37)
                .form-check
                    input.form-check-input(type="checkbox" value="" id="maker-10")
                    label.form-check-label(for="maker-0") Abac (542)
                .form-check
                    input.form-check-input(type="checkbox" value="" id="maker-11")
                    label.form-check-label(for="maker-0") Ekomak (411)
                .form-check
                    input.form-check-input(type="checkbox" value="" id="maker-0")
                    label.form-check-label(for="maker-0") MARK (37)
                a.all_manufacturers(href='#') Ещё
                    i.ms-1.bi.bi-chevron-down
            .col-md-5.col-sm-12
                h6 Вид компрессора
                select.form-select(aria-label="Вид компрессора")
                    option(selected) Все
                    option(value="1") One
                    option(value="2") Two
                    option(value="3") Three
                h6 Производительность, л/мин
                .row.g-1
                    .col-4
                        input.form-control(type="text" placeholder="От 1" aria-label="one")
                    .col-auto.my-auto
                        i.bi.bi-dash
                    .col-4
                        input.form-control(type="text" placeholder="До 9200" aria-label="one")
                h6 Давление, бар
                .row.g-1
                    .col-4
                        input.form-control(type="text" placeholder="От 1.5")
                    .col-auto.my-auto
                        i.bi.bi-dash
                    .col-4
                        input.form-control(type="text" placeholder="До 40")
                h6 Тип двигателя
                select.form-select(aria-label="Вид компрессора")
                    option(selected) Все
                    option(value="1") One
                    option(value="2") Two
                    option(value="3") Three
                h6 Мощность, кВт
                .row.g-1
                    .col-4
                        input.form-control(type="text" placeholder="От 0.55" aria-label="one")
                    .col-auto.my-auto
                        i.bi.bi-dash
                    .col-4
                        input.form-control(type="text" placeholder="До 567" aria-label="one")
            .col-md-5.col-sm-12
                h6 Рабочее напряжение
                select.form-select(aria-label="Рабочее напряжение")
                    option(selected) Все
                    option(value="1") One
                    option(value="2") Two
                    option(value="3") Three
                h6 Тип ресивера
                select.form-select(aria-label="Тип ресивера")
                    option(selected) Все
                    option(value="1") One
                    option(value="2") Two
                    option(value="3") Three
                h6 Марка двигателя
                select.form-select(aria-label="Марка двигателя")
                    option(selected) Все
                    option(value="1") One
                    option(value="2") Two
                    option(value="3") Three
                h6 Цена, руб.
                .row.g-1
                    .col-4
                        input.form-control(type="text" placeholder="От" aria-label="one")
                    .col-auto.my-auto
                        i.bi.bi-dash
                    .col-4
                        input.form-control(type="text" placeholder="До" aria-label="one")
                .row.px-0
                    div.mx-auto.my-2.px-2(id="double-range")
                .d-grid.gap-2.mb-3
                    button.btn.btn-outline-secondary(type="submit") Подобрать (3648)
    .tab-pane.fade(id="item-1" role="tabpanel" aria-labelledby="tab-1" tabindex="0")
        //-.text-center two
    .tab-pane.fade(id="item-2" role="tabpanel" aria-labelledby="tab-2" tabindex="0")
        //-.text-center three 
    .tab-pane.fade(id="item-3" role="tabpanel" aria-labelledby="tab-3" tabindex="0")
        //-.text-center four
