block header
    header.bg-primary.text-white   
        nav.navbar.navbar-expand-lg.header_block_bottom.py-0.bg-navbar
            .container.mx-auto.justify-content-around
                button.navbar-toggler.ms-2(type='button' data-bs-toggle='collapse' data-bs-target='#headerNavbar2' aria-controls='headerNavbar2' aria-expanded='false' style="border: none")
                    img(src=(require('ICONS/mob-icon-left.svg')) style="width: 24px; height: 24px")
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#headerNavbarSearch' aria-controls='headerNavbarSearch' aria-expanded='false' style="border: none")
                    img(src=(require('ICONS/search.svg')) style="width: 24px; height: 24px")
                a.navbar-brand.d-block.d-sm-none(href='/')
                    img(src=(require('IMG/logo.svg')) style="width: 116px; height: 24px")
                a.navbar-toggler(href="tel:+74953749145" style="border: none")
                    img(src=(require('ICONS/phone.svg')) style="width: 24px; height: 24px")
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#headerNavbar' aria-controls='headerNavbar' aria-expanded='false' style="border: none")
                    img(src=(require('ICONS/mob-icon-right.svg')) style="width: 24px; height: 24px") 
                                //-.navbar-toggler-icon
                .collapse.navbar-collapse(id='headerNavbar')
                    ul.navbar-nav
                        li.nav-item 
                            a.nav-link(aria-current='page' href='/') Главная
                        li.nav-item
                            a.nav-link(href='/') Услуги
                        li.nav-item
                            a.nav-link(href='/') Проекты
                        li.nav-item.dropdown
                            a.nav-link(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Полезная информация
                        //- .dropdown-toggle
                            ul.dropdown-menu
                                li 
                                    a.dropdown-item(href='#') О компании
                                li 
                                    a.dropdown-item(href='#') Доставка
                                li 
                                    a.dropdown-item(href='#') Оплата
                                li 
                                    a.dropdown-item(href='#') Сертификаты
                                li 
                                    a.dropdown-item(href='#') Отзывы
                        li.nav-item
                            a.nav-link(href='/') Акции
                        li.nav-item
                            a.nav-link(href='/') Новости
                        li.nav-item
                            a.nav-link(href='/') Контакты
