block head
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title}
        link(rel="icon" type="image/png" href=require('ICONS/favicon.ico'))
        //-link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous")
    
        block styles
            //-link(href=require('../../sass/styles.sass') rel='stylesheet')
            //-script(src=require('jquery'))
            //-script(src=require('owl.carousel'))