.leftbar_catalog.list-group
    a.list-group-item.list-group-item-action.leftbar_catalog_chapter.active(href='#') Компрессоры
    a.list-group-item.list-group-item-action(href='?eee') Винтовые компрессоры
    a.list-group-item.list-group-item-action(href='#') Передвижные компрессоры
    a.list-group-item.list-group-item-action(href='#') Поршневые компрессоры
    a.list-group-item.list-group-item-action(href='#') Спиральные компрессоры
    a.list-group-item.list-group-item-action(href='#') Дожимные компрессоры
    a.list-group-item.list-group-item-action(href='#') Модульные станции
    a.list-group-item.list-group-item-action(href='#') Компрессоры Б/У
    a.list-group-item.list-group-item-action.leftbar_catalog_chapter(href='#') Подготовка и хранение сжатого воздуха
    a.list-group-item.list-group-item-action(href='#') Осушители воздуха
    a.list-group-item.list-group-item-action(href='#') Ресиверы
    a.list-group-item.list-group-item-action(href='#') Магистральные фильтры
    a.list-group-item.list-group-item-action(href='#') Концевые охладители
    a.list-group-item.list-group-item-action(href='#') Сепораторы
    a.list-group-item.list-group-item-action.leftbar_catalog_chapter(href='#') Компрессоры
    a.list-group-item.list-group-item-action(href='#') Винтовые компрессоры
    a.list-group-item.list-group-item-action(href='#') Передвижные компрессоры
    a.list-group-item.list-group-item-action(href='#') Поршневые компрессоры
    a.list-group-item.list-group-item-action(href='#') Спиральные компрессоры
    a.list-group-item.list-group-item-action(href='#') Дожимные компрессоры
    a.list-group-item.list-group-item-action(href='#') Модульные станции
    a.list-group-item.list-group-item-action(href='#') Компрессоры Б/У
    a.list-group-item.list-group-item-action.leftbar_catalog_chapter(href='#') Подготовка и хранение сжатого воздуха
    a.list-group-item.list-group-item-action(href='#') Осушители воздуха
    a.list-group-item.list-group-item-action(href='#') Ресиверы
    a.list-group-item.list-group-item-action(href='#') Магистральные фильтры
    a.list-group-item.list-group-item-action(href='#') Концевые охладители
    a.list-group-item.list-group-item-action(href='#') Сепораторы
    
.certificate
    a(href='#')
        .row
            .col.text-start
                span Сертификаты
            .col.text-end
                img(src=(require('ICONS/arrow-right.svg')))
    .owl-slider.text-center
        .row.g-0
            .col 
                a.slide-item(href='#')
                    img.img-fluid(src=(require('IMG/certif-1.png')))
            .col
                a.slide-item(href='#')
                    img.img-fluid(src=(require('IMG/certif-2.png')))
            .col 
                a.slide-item(href='#')
                    img.img-fluid(src=(require('IMG/certif-3.png')))
        .row.nav-slide.text-center
            .col
                a(href='#').mx-1
                    img(src=(require('ICONS/left.svg')))
                a(href='#').mx-1
                    img(src=(require('ICONS/right.svg')))
hr
.vacancy
    a(href='#')
        .row.mb-3
            .col.text-start
                span Вакансии
            .col.text-end
                img(src=(require('ICONS/arrow-right.svg')))
    .owl-slider
        a.slide-item(href='#')
            img.img-fluid(src=(require('IMG/vacancy-1.png')))
            p.mt-3 Инженер по сборке
        .nav-slide.text-center
            a(href='#').mx-1
                img(src=(require('ICONS/left.svg')))
            a(href='#').mx-1
                img(src=(require('ICONS/right.svg')))
hr
.delivery
    a(href='#')
        .row.mb-3
            .col.text-start
                span Доставка
            .col.text-end
                img(src=(require('ICONS/arrow-right.svg')))

        .owl-slider
            a.slide-item(href='#')
                .card
                    img.card-img(src=(require('IMG/delivery-1.png')))
                    .card-img-overlay
                        h5.card-title Доставка товаров
                        p.card-text по России
            .nav-slide.text-center.mt-3
                a(href='#').mx-1
                    img(src=(require('ICONS/left.svg')))
                a(href='#').mx-1
                    img(src=(require('ICONS/right.svg')))