//- Template
block template

doctype html
html(lang="ru")
    block head
        //-include ./layout/_head.pug
    body.bg-body
        block header
        block content
        block footer
        block scripts
            //-include ./js/script.js
            //-include ./js/custom.js
