//-_header.pug
header.container-fluid.bg-primary.text-white

    .container.d-none.d-sm-block
        .row.header_block_top
            .col-3.header__foreground
                .header__logo.bg-white
                    a(href='/')
                        img(src=require('IMG/logo.svg'))
                    ul.mx-auto
                        li компрессорное оборудование
                        li сервисное сопровождение
                        li технические решения
            .col
                .row.mt-3
                    .col.header__city.text-start
                        button.btn.btn-link(type='button' data-bs-toggle="modal" data-bs-target="#headerCity")
                            img(src=(require('ICONS/map-item.svg')))  
                            span.mx-2 Москва
                            img(src=(require('ICONS/arrow-down.svg')))  

                    .col.header__mail.text-center
                        a(href='mailto:zakaz@promair.ru') 
                            img(src=(require('ICONS/envelope.svg')))
                            span.mx-2.text-white zakaz@promair.ru
                    .col.header__phone.text-end
                        a(href='tel:+74953749145') 
                            img(src=(require('ICONS/phone.svg')))
                            span.mx-2.text-white +7 (495) 374-91-45
                .row.mt-4
                    .col.header_working.text-start
                        img(src=(require('ICONS/clock.svg')))
                        span.mx-2 Пн-Пт с 8:00-19:00
                    .col.header__messengers.text-center
                        .d-flex.flex-row.justify-content-center
                            a.mx-1.nav-link(href='#')
                                img(src=(require('ICONS/whatsapp.svg')))
                            a.mx-1.nav-link(href='#')
                                img(src=(require('ICONS/telegram.svg')))
                            //-a.nav-link(href='#') VBR
                    .col.text-end
                        a.btn.btn-secondary.text-white Заказать звонок
    .container-fluid.bg-navbar
        .container
            .row 
                .col-3.d-none.d-sm-block
                .col.p-0
                    nav.navbar.navbar-expand-lg.header_block_bottom.py-0
                        .container-fluid.mx-auto.justify-content-around
                            button.navbar-toggler.ms-2(type='button' data-bs-toggle='collapse' data-bs-target='#headerNavbar2' aria-controls='headerNavbar2' aria-expanded='false' style="border: none")
                                img(src=(require('ICONS/mob-icon-left.svg')) style="width: 24px; height: 24px")
                            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#headerNavbarSearch' aria-controls='headerNavbarSearch' aria-expanded='false' style="border: none")
                                img(src=(require('ICONS/search.svg')) style="width: 24px; height: 24px")
                            a.navbar-brand.d-block.d-sm-none(href='/')
                                img(src=(require('IMG/logo.svg')) style="width: 116px; height: 24px")
                            a.navbar-toggler(href="tel:+74953749145" style="border: none")
                                img(src=(require('ICONS/phone.svg')) style="width: 24px; height: 24px")
                            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#headerNavbar' aria-controls='headerNavbar' aria-expanded='false' style="border: none")
                                img(src=(require('ICONS/mob-icon-right.svg')) style="width: 24px; height: 24px") 
                                            //-.navbar-toggler-icon
                            .collapse.navbar-collapse(id='headerNavbar')
                                ul.navbar-nav
                                    li.nav-item 
                                        a.nav-link(aria-current='page' href='/') Главная
                                    li.nav-item
                                        a.nav-link(href='/') Услуги
                                    li.nav-item
                                        a.nav-link(href='/') Проекты
                                    li.nav-item.dropdown
                                        a.nav-link(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Полезная информация
                                    //- .dropdown-toggle
                                        ul.dropdown-menu
                                            li 
                                                a.dropdown-item(href='#') О компании
                                            li 
                                                a.dropdown-item(href='#') Доставка
                                            li 
                                                a.dropdown-item(href='#') Оплата
                                            li 
                                                a.dropdown-item(href='#') Сертификаты
                                            li 
                                                a.dropdown-item(href='#') Отзывы
                                    li.nav-item
                                        a.nav-link(href='/') Акции
                                    li.nav-item
                                        a.nav-link(href='/') Новости
                                    li.nav-item
                                        a.nav-link(href='/') Контакты
                            ul.navbar-nav.d-block.d-sm-none
                            ul.navbar-nav.d-none.d-sm-flex
                                li.nav-item
                                    a.px-4.nav-link(href='#')
                                        img(src=(require('ICONS/search.svg')))
                                li.nav-item
                                    a.px-4.nav-link(href='#')
                                        span.position-relative
                                            img(src=(require('ICONS/cart-2.svg')))
                                            span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-secondary 0

.modal.fade(id='headerCity' data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
        .modal-content
            .modal-header
                h1.modal-title.fs-5 Выберите город
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                ul
                    li Москва
                    li Ростов
                    li Томск
                    li Киров


//-_content.pug str 24 .row.new-productions
                .row.new-productions
                    h2.text-center.my-3 Новинки
                    .col
                        .card.text-center.border-0.bg-transparent
                            img.card-img-top(src=(require('IMG/new-product-1.png')))
                            .card-body
                                p.card-text Бензиновый генератом RATO R8000ID
                                a.btn.btn-price.w-100(href='#') 70 000 руб.
                    .col
                        .card.text-center.border-0.bg-transparent
                            img.card-img-top(src=(require('IMG/new-product-2.png')))
                            .card-body
                                p.card-text Бензиновый генератом RATO R3500I
                                a.btn.btn-price.w-100(href='#') 70 000 руб.
                    .col
                        .card.text-center.border-0.bg-transparent
                            img.card-img-top(src=(require('IMG/new-product-3.png')))
                            .card-body
                                p.card-text Бензиновый генератом RATO R2500IS
                                a.btn.btn-price.w-100(href='#') 70 000 руб.
                    .col
                        .card.text-center.border-0.bg-transparent
                            img.card-img-top(src=(require('IMG/new-product-4.png')))
                            .card-body
                                p.card-text Бензиновый генератом RATO R6000E-L2
                                a.btn.btn-price.w-100(href='#') 80 000 руб.




//-
.row.owl-slider.d-flex.align-items-stretch
                        .col-4.bg-white.d-flex
                            .card.border-0.d-flex.align-self-stretch
                                a(href='#')
                                    img.img-fluid(src=(require('IMG/news-1.png')))
                                p.p-2 Каталог пополнился продукцией для воздухоподготовки ARIACOM
                                p.p-2 Продукция итальянской компании ARIACOM 
                                .row.p-2.align-self-end
                                    .col
                                        a(href='#') Читать далее
                                    .col 
                                        p 20.01.2022
                        .col-4.bg-white.d-flex
                            .card.border-0.d-flex.align-self-stretch
                                a(href='#')
                                    img.img-fluid(src=(require('IMG/news-2.png')))
                                p.p-2 Расширен выбор спиральных компрессоров Remeza
                                p.p-2 Добавлены новинки в ассортимент производителя Remeza.
                                .row.p-2.align-self-end
                                    .col
                                        a(href='#') Читать далее
                                    .col 
                                        p 23.08.2021
                        .col-4.bg-white.d-flex
                            .card.border-0.d-flex.align-self-stretch
                                a(href='#')
                                    img.img-fluid(src=(require('IMG/news-3.png')))
                                p.p-2 Пополнен ассортимент компрессоров Atmos
                                p.p-2 Добавлены новинки в ассортимент производителя Remeza.
                                .row.p-2.align-self-end
                                    .col
                                        a(href='#') Читать далее
                                    .col 
                                        p 5.02.2022