block content
    main.container.my-4
        .row.g-5
            .col-3.d-none.d-sm-block
                include ./../blocks/_leftbar.pug
            .col
                .row.banner.rounded.g-0.p-5
                    .col-md-8.col-sm-12.text-white
                        .row.flex-column
                            .col
                                h1.banner_title Продажа компрессоров по ценам производителя
                                p.banner_subtitle 14 лет на рынке компрессорного оборудования
                            .col-5.mt-5
                                a.btn.btn-catalog.d-none.d-sm-block(href='#') Перейти в каталог
                                    i.bi.bi-arrow-right.ms-1
                    .col-md-4.col-sm-12.text-center
                        img.mb-3(src=(require('IMG/home-banner.png')))
                        p.banner_prod-name.px-5 Поршневой компрессор REMEZA СБ4/С-24.OLD15
                    .col.d-block.d-sm-none
                        a.btn.btn-catalog(href='#') Перейти в каталог
                            i.bi.bi-arrow-right.ms-1
                .row.my-5
                    .col
                        include ./../blocks/_filter.pug
                .row.new-productions.my-5
                    .col-12
                        h2.text-center.my-3 Новинки
                    .col
                        .card.text-center.border-0.bg-transparent
                            img.card-img-top(src=(require('IMG/new-product-1.png')))
                            .card-body
                                p.card-text Бензиновый генератор RATO R8000ID
                                a.btn.btn-price.w-100(href='#') 70 000 руб.
                    .col.d-none.d-sm-block
                        .card.text-center.border-0.bg-transparent
                            img.card-img-top(src=(require('IMG/new-product-2.png')))
                            .card-body
                                p.card-text Бензиновый генератор RATO R3500I
                                a.btn.btn-price.w-100(href='#') 70 000 руб.
                    .col.d-none.d-sm-block
                        .card.text-center.border-0.bg-transparent
                            img.card-img-top(src=(require('IMG/new-product-3.png')))
                            .card-body
                                p.card-text Бензиновый генератор RATO R2500IS
                                a.btn.btn-price.w-100(href='#') 70 000 руб.
                    .col.d-none.d-sm-block
                        .card.text-center.border-0.bg-transparent
                            img.card-img-top(src=(require('IMG/new-product-4.png')))
                            .card-body
                                p.card-text Бензиновый генератор RATO R6000E-L2
                                a.btn.btn-price.w-100(href='#') 80 000 руб.

                .row.flex-column.d-none.d-sm-flex.my-5.engineering-service
                    .col
                        .row
                            .col
                                h2.my-3 Полный спектор инженерных услуг
                            .col-auto.text-end.my-auto
                                a.btn.btn-look Смотреть все
                                    i.bi.bi-arrow-right.ms-1
                    .col
                        .row
                            .col-6
                                .card.mb-3.border-0
                                    .row.g-0
                                        .col
                                            .card-body
                                                p.card-tex Аудит и проектирование линий сжатого воздуха
                                        .col-auto
                                            img.img-fluid(src=(require('IMG/engiserv-1.png')))
                        
                            .col-6
                                .card.mb-3.border-0
                                    .row.g-0
                                        .col
                                            .card-body
                                                p.card-tex Автоматизация системы подачи воздуха
                                        .col-auto
                                            img.img-fluid(src=(require('IMG/engiserv-2.png')))
                    .col
                        .row
                            .col-6
                                .card.mb-3.border-0
                                    .row.g-0
                                        .col
                                            .card-body
                                                p.card-tex Техническое обслуживание компрессоров
                                        .col-auto
                                            img.img-fluid(src=(require('IMG/engiserv-3.png')))
                            .col-6
                                .card.mb-3.border-0
                                    .row.g-0
                                        .col
                                            .card-body
                                                p.card-tex Монтаж компрессоров и пневмолиний
                                        .col-auto
                                            img.img-fluid(src=(require('IMG/engiserv-4.png')))
                .row.flex-column.my-5.project
                    .col.my-3
                        .row
                            .col
                                h2.float-start Проекты
                            .col-auto
                                a.btn.btn-look.text-end.my-auto(href='#') Смотреть все
                                    i.bi.bi-arrow-right.ms-1
                    .col.position-relative.justify-content-between
                        .row
                            .col-md-4.col-sm-12
                                a.d-block.slide-item(href='#')
                                    img.w-100(src=(require('IMG/project-1.png')))
                                    p Поставка МКС для Стойленского ГОК
                            .col-md-4.col-sm-10.d-none.d-sm-block
                                a.d-block.slide-item(href='#')
                                    img.w-100(src=(require('IMG/project-2.png')))
                                    p Спецзаказ для конструкторского бюро машиностроения в Коломне
                            .col-md-4.col-sm-10.d-none.d-sm-block
                                a.d-block.slide-item(href='#')
                                    img.w-100(src=(require('IMG/project-3.png')))
                                    p Инженерное решение для торгового дома «Албес»

                .row.flex-column.my-5.d-none.d-sm-block.advantage
                    .col
                        h2.my-3 Преимущества работы с нами
                    .col
                        .row
                            .col-3
                                .card.border-0.bg-white 
                                    img.p-5(src=(require('ICONS/control.svg')))
                                    p.text-center.p-2 Жесткий контроль качества
                            .col-3
                                .card.border-0.bg-white 
                                    img.p-5(src=(require('ICONS/certified.svg')))
                                    p.text-center.p-2 Вся продукция сертифицирована
                            .col-3
                                .card.border-0.bg-white 
                                    img.p-5(src=(require('ICONS/projects.svg')))
                                    p.text-center.p-2 Индивидуальные проекты
                            .col-3
                                .card.border-0.bg-white
                                    img.p-5(src=(require('ICONS/deadlines.svg')))
                                    p.text-center.p-2 Четкое соблюдение сроков

                .row.flex-column.my-5.reviews-certificates
                    .col.my-3
                        .row
                            .col
                                h2.float-start Отзывы и сертификаты
                            .col-auto
                                a.btn.btn-look.text-end.my-auto(href='#') Смотреть все
                                    i.bi.bi-arrow-right.ms-1
                    .col
                        .row.owl-slider.justify-content-between
                            .col-md-2.col-sm-5
                                a.slide-item(href='#')
                                    img.img-fluid(src=(require('IMG/reviews-1.png')))
                            .col-md-2.col-sm-5.d-none.d-sm-block
                                a.slide-item(href='#')
                                    img.img-fluid(src=(require('IMG/reviews-2.png')))
                            .col-md-2.d-none.d-sm-block
                                a.slide-item(href='#')
                                    img.img-fluid(src=(require('IMG/reviews-3.png')))
                            .col-md-2.d-none.d-sm-block
                                a.slide-item(href='#')
                                    img.img-fluid(src=(require('IMG/reviews-4.png')))
                            .col-md-2.d-none.d-sm-block
                                a.slide-item(href='#')
                                    img.img-fluid(src=(require('IMG/reviews-5.png')))
                            .col-md-2.d-none.d-sm-block
                                a.slide-item(href='#')
                                    img.img-fluid(src=(require('IMG/reviews-6.png')))
                
                .row.flex-column.my-5.news
                    .col
                        .row.my-3
                            .col
                                h2.float-start Новости
                            .col-auto
                                a.btn.btn-look.text-end.my-auto(href='#') Смотреть все
                                    i.bi.bi-arrow-right.ms-1
                    .col-12
                        .row.row-cols-3.g-3.align-items-stretch
                            .col
                                .container.h-100
                                    .row.news_block.h-100.p-2.flex-column
                                        .col-auto
                                            img.w-100.mx-auto.d-block(src=(require('IMG/news-1.png')))
                                        .col
                                            h5.p-2 Каталог пополнился продукцией для воздухоподготовки ARIACOM
                                            p.p-2 Продукция итальянской компании ARIACOM 
                                        .col
                                            .row.h-100.align-items-end
                                                .col
                                                    a.news_link.float-start(href='#') Читать далее
                                                    p.news_date.float-end 20.01.2022
                            .col
                                .container.h-100
                                    .row.news_block.h-100.p-2.flex-column
                                        .col-auto
                                            img.w-100.mx-auto.d-block(src=(require('IMG/news-2.png')))
                                        .col
                                            h5.p-2 Расширен выбор спиральных компрессоров Remeza
                                            p.p-2 Добавлены новинки в ассортимент производителя Remeza.
                                        .col
                                            .row.h-100.align-items-end
                                                .col
                                                    a.news_link.float-start(href='#') Читать далее
                                                    p.news_date.float-end 20.01.2022
                            .col
                                .container.h-100
                                    .row.news_block.h-100.p-2.flex-column
                                        .col-auto
                                            img.w-100.mx-auto.d-block(src=(require('IMG/news-3.png')))
                                        .col
                                            h5.p-2 Пополнен ассортимент компрессоров Atmos
                                            p.p-2 Добавлены новинки в ассортимент производителя Remeza.
                                        .col
                                            .row.h-100.align-items-end
                                                .col
                                                    a.news_link.float-start(href='#') Читать далее
                                                    p.news_date.float-end 20.01.2022
