//-footer mobile version
block footermobile
    footer.bg-footer-mobile.d-block.d-sm-none
        .container
            .row
                a.footer_logo(href='#')
                    img(src=(require('IMG/logo.svg')))
            .row.footer-mobile_menu
                .col-6.menu__left.d-flex.flex-column
                    a(href="#") Главная
                    a(href="#") О компании
                    a(href="#") Проекты
                    a(href="#") Новости
                    a(href="#") Отзывы и сертификаты
                    a(href="#") Контакт
                .col-6.menu__right.d-flex.flex-column
                    a(href="#") Москва
                    a(href="#") +7 (900) 111-22-33
                    a(href="#") promair@mail.ru
            .row.footer-mobile_soclink.text-start
                .col-1
                    a(href="#") Fa
                .col-1
                    a(href="#") In
                .col-1
                    a(href="#") Tw
                .col-1
                    a(href="#") VK
    
            hr
    
            .row.copyright
                .col-12
                    a.copyright_doc(href="#") Политика обработки персональных данных
                .col-12
                    span.copyright_name © ООО Promair 


