block footer
    footer.bg-footer.text-md-white.mt-5.text-sm-dark.d-none.d-sm-block
        .container.pt-4
            ul.nav.flex-row.justify-content-between.my-auto.py-3
                li.nav-item
                    a.nav-link(aria-current="page" href="#")
                        img.footer_logo(src=(require('IMG/logo.svg')))
                li.nav-item
                    a.nav-link.py-auto(href="#") Главная
                li.nav-item
                    a.nav-link.py-auto(href="#") О компании
                li.nav-item
                    a.nav-link.py-auto(href="#") Проекты
                li.nav-item
                    a.nav-link.py-auto(href="#") Новости
                li.nav-item
                    a.nav-link.py-auto(href="#") Отзывы и сертификаты
                li.nav-item
                    a.nav-link.py-auto(href="#") Контакты
    
            hr.footer_hr
    
            .row
                .col-2
                    img(src=(require('IMG/metrika.png')))
                .col 
                    .row.justify-content-between
                        .col.text-start
                            .row
                                .col-1
                                    img(src=(require('ICONS/map-item.svg')))
                                .col
                                    p.bg-footer_ads 100024, Москва, ул. Авиамоторная, дом № 81, строение 5, этаж 2, офис 1-3
                        .col.text-center
                            .row.self-item-center
                                .col.text-end
                                    img(src=(require('ICONS/envelope.svg')))
                                .col.text-start
                                    a.bg-footer_mail(href='mailto:promair@mail.ru') promair@mail.ru
                        .col.text-end
                            .row 
                                .col
                                    img(src=(require('ICONS/phone.svg')))
                                .col-auto
                                    a.footer_phone(href='tel:+79001112233') +7 (900) 111-22-33
                    .row 
                        .col.text-start
                            .row 
                                .col-1
                                    img(src=(require('ICONS/clock.svg')))
                                .col
                                    p.bg-footer_clock Пн-Пт с 8:00-18:00
                        .col.text-center
                            .row.self-item-center
                                .col.text-end
                                    a(href='#') 
                                        img(src=(require('ICONS/telegram.svg')))
                                .col.text-start
                                    a(href='#')
                                        img(src=(require('ICONS/whatsapp.svg')))
                        .col.text-end.d-none.d-sm-block
                            button.btn.btn-call Заказать звонок
    
            hr.footer_hr
    
            .row.footer_cities
                .col-md-2
                    a.btn-footer-link(href='#') Все города
                        i.ms-1.bi.bi-chevron-down
                .col
                    ul 
                        li 
                            a(href='#') Астрахань
                        li 
                            a(href='#') Барнаул
                        li 
                            a(href='#') Белгород
                        li 
                            a(href='#') Брянск
                .col 
                    ul 
                        li 
                            a(href='#') Владивосток
                        li 
                            a(href='#') Владимир
                        li 
                            a(href='#') Волгоград
                        li 
                            a(href='#') Воронеж
                .col 
                    ul 
                        li 
                            a(href='#') Екатеринбург
                        li 
                            a(href='#') Казань
                        li 
                            a(href='#') Красноярск
                        li 
                            a(href='#') Москва
                .col 
                    ul 
                        li 
                            a(href='#') Нижний Новгород
                        li 
                            a(href='#') Новосибирск
                        li 
                            a(href='#') Пермь
                        li 
                            a(href='#') Ростов-на-Дону
                .col 
                    ul 
                        li 
                            a(href='#') Самара
                        li 
                            a(href='#') Санкт-Петербург
                        li 
                            a(href='#') Саратов
                        li 
                            a(href='#') Тюмень
                .col 
                    ul 
                        li 
                            a(href='#') Уфа
                        li 
                            a(href='#') Челябинск
            
            .row.mt-4.footer_copyright
                .col.text-start
                    p © ООО Promair 
                .col.text-center
                    img(src=(require('ICONS/visa-master.svg')))
                .col.text-end
                    a(href='#') Политика обработки персональных данных