block head
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title}
        link(rel="icon" type="image/png" href=require('ICONS/favicon.ico'))
    
        block styles
            //-link(href=require('../../sass/styles.sass') rel='stylesheet')
            //-script(src=require('jquery'))
            //-script(src=require('owl.carousel'))