extend ./template/template.pug

block template
    - var title = "mobile - promair/"

block head 
    include ./template/layout/mobile/_head-mobile.pug
    block styles
        link(href=require('./scss/mobile.scss') rel='stylesheet')

block header
    include ./template/layout/mobile/_header-mobile.pug

block content
    include ./template/layout/mobile/_content-mobile.pug

block footer
    include ./template/layout/mobile/_footer-mobile.pug

block scripts
    script(src=require('./index.js'))