extend ./template/template.pug

block template
    - var title = "promair.ru"

block head 
    include ./template/layout/_head.pug
    block styles
        link(href=require('./scss/styles.scss') rel='stylesheet')

block header
    include ./template/layout/_header.pug

block content
    include ./template/layout/_content.pug

block footer
    include ./template/layout/_footer.pug
    include ./template/layout/_footermobile.pug

block scripts
    script(src=require('./index.js'))