$primary: #08335D;
$secondary: #6AB8EE;
$danger: #F63F45;
$body-bg: #EDF1F4;
$bg-navbar: #0D4574;
$bg-banner: #005692;
$nav-link-color: #9D9D9D;
$nav-link-hover-color: #fff;
$nav-link-font-weight: 400;
$navbar-light-active-color: #fff;
$navbar-light-hover-color: #0D4574;
$list-group-color: #9D9D9D;
$list-group-border-color: #DADADA;
$list-group-border-width: 1px;
$list-group-border-radius: 6px;
$list-group-active-bg: #6AB8EE;
$list-group-hover-bg: #fff;
$nav-tabs-border-color: #DADADA;
$nav-tabs-border-radius: 0;
$nav-tabs-link-active-bg: $secondary;
$nav-tabs-link-active-color: #fff;
//check
$form-check-input-bg: #fff;
$form-check-input-focus-box-shadow: none;
$form-check-input-checked-bg-color: $secondary;
$form-check-input-border-radius: 2px;
//select
$form-select-bg: #fff;
$form-select-color: rgba(31, 55, 90, 0.6);
$form-select-box-shadow: none;
$form-select-focus-box-shadow: none;
//input
$input-bg: #F6F6F6;
$input-color: rgba(31, 55, 90, 0.6);
$input-border-color: #F6F6F6;
$input-focus-border-color: $secondary;
$input-focus-bg: #fff;
$input-border-radius: 6px;
$input-focus-box-shadow: none;
//btn
$btn-border-radius: 6px;
//my vars
$call: #6AB8EE;
$price: #ffffff;
$price-hover: #6AB8EE;
$price-press: #1B85CE;
//dropdown
$dropdown-color: #202124;
$dropdown-border-color: 1px solid #FFFFFF;
$dropdown-box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08);
$dropdown-divider-bg: #DADADA;
$dropdown-link-color: #202124;

$theme-colors: (
    "call": $call,
    "price": $price,
    "primary": $primary,
    "secondary": $secondary,
    "danger": $danger,
);