//@include font-face("FontAwesome", "fonts/FontAwesome");

@font-face {
    font-family: "FontAwesome";

    src: local("FontAwesome");
    src: url("FONTS/fontawesome-webfont.svg#FontAwesome") format("svg");
    src: url("FONTS/fontawesome-webfont.eot") format("embedded-opentype");
    src: url("FONTS/fontawesome-webfont.ttf") format("truetype");
    src: url("FONTS/fontawesome-webfont.woff") format("woff");
    src: url("FONTS/fontawesome-webfont.woff2") format("woff2");
    src: url("FONTS/FontAwesome.otf") format("otf");
}