@media (max-width: 576px) {

    .bg-body {
        background-color: #FFFFFF !important;
    }

    .bg-navbar {
        background: #FFFFFF;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    }

    /*
        .navbar-collapse.collapse.show {
            background: #FFFFFF;
            color: #02131F;
        }
        */

    .navbar a {
        color: #02131F;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    .banner {
        background: $bg-banner url('IMG/banner-mob.svg') no-repeat;
        background-size: cover;
        padding: 40px 20px;
    }

    .banner_title {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;
    }

    .banner_subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }

    .banner_prod-name {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
    }

    .btn-catalog {
        width: 100%;
    }

    .filter_mobile {
        border: 1px solid #DADADA;
        border-radius: 0 0 6px 6px;
        box-sizing: border-box;
        border-top: none;

    }

    .btn-toggle-filter {
        background: #6AB8EE;
        border-radius: 6px 6px 0px 0px;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .new-productions h2 {
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        color: #02131F;
    }

    .new-productions.card-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #02131F;
    }

    .new-productions {
        //display: flex;
        //flex-wrap: nowrap;
        //flex-direction: row;
        //position: relative;
        //overflow: hidden;
    }

    .bg-footer-mobile {
        display: block;
        background: #F6F6F6;
        color: #02131F;
    }

    .bg-footer-mobile a {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #02131F;
    }

    .footer_logo {
        margin: 50px 0 26px 14px;
    }

    .footer_logo img {
        width: 116px;
        height: 24px;
    }

    .footer-mobile_menu {
        padding: 0 14px;
    }

    .footer-mobile_menu .menu__left a,
    .footer-mobile_menu .menu__right a {
        margin-bottom: 18px;
        text-decoration: none;
    }

    .footer-mobile_soclink div a,
    .copyright_doc,
    .copyright_name {
        padding: 0 14px;
    }

    .bg-footer-mobile hr {
        background: rgba(2, 19, 31, 0.15);
        color: rgba(2, 19, 31, 0.15);
        padding: 0 14px;
        margin: 24px 0 20px 0;
    }

    .bg-footer-mobile .copyright {
        padding-bottom: 20px;
    }

    .bg-footer-mobile .copyright,
    .bg-footer-mobile .copyright_name,
    .bg-footer-mobile .copyright_doc {
        color: rgba(2, 19, 31, 0.6);
        font-weight: 400;
    }

    .bg-footer-mobile .copyright_name {
        font-size: 12px;
        line-height: 18px;
    }

    .bg-footer-mobile .copyright_doc a {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 12px;
    }
}