/*@import "_font-awesome.scss";*/

@import "~nouislider/dist/nouislider";
@import "/node_modules/owl.carousel/dist/assets/owl.carousel.min.css";
@import "/node_modules/owl.carousel/dist/assets/owl.theme.default.min.css";

//color
$primary: #08335D;
$secondary: #6AB8EE;
$danger: #F63F45;
$body-bg: #EDF1F4;
$bg-navbar: #0D4574;
$bg-banner: #005692;
$nav-link-color: #9D9D9D;
$nav-link-hover-color: #fff;
$nav-link-font-weight: 400;
$navbar-light-active-color: #fff;
$navbar-light-hover-color: #0D4574;
$list-group-color: #9D9D9D;
$list-group-border-color: #DADADA;
$list-group-border-width: 1px;
$list-group-border-radius: 6px;
$list-group-active-bg: #6AB8EE;
$list-group-hover-bg: #fff;
//nav-tabs
$nav-tabs-border-color: #DADADA;
//$nav-tabs-border-width: 1px;
$nav-tabs-border-radius: 0;
$nav-tabs-link-hover-border-color: #8FD1FF;
$nav-tabs-link-active-bg: $secondary;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-border-color: $secondary;
//check
$form-check-input-bg: #fff;
$form-check-input-focus-box-shadow: none;
$form-check-input-checked-bg-color: $secondary;
$form-check-input-border-radius: 2px;
//select
$form-select-bg: #fff;
$form-select-color: rgba(31, 55, 90, 0.6);
$form-select-box-shadow: none;
$form-select-focus-box-shadow: none;
//input
$input-bg: #F6F6F6;
$input-color: rgba(31, 55, 90, 0.6);
$input-border-color: #F6F6F6;
$input-focus-border-color: $secondary;
$input-focus-bg: #fff;
$input-border-radius: 6px;
$input-focus-box-shadow: none;
//btn
$btn-border-radius: 6px;
//my vars
$call: #6AB8EE;
$price: #ffffff;
$price-hover: #6AB8EE;
$price-press: #1B85CE;
//dropdown
$dropdown-color: #202124;
$dropdown-border-color: 1px solid #FFFFFF;
$dropdown-box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08);
$dropdown-divider-bg: #DADADA;
$dropdown-link-color: #202124;

$theme-colors: (
    "call": $call,
    "price": $price,
    "primary": $primary,
    "secondary": $secondary,
    "danger": $danger,
);

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

body {
    font-family: 'Inter', serif;
}

.btn-catalog {
    --bs-btn-font-weight: 400;
    --bs-btn-color: #FFFFFF;
    --bs-btn-bg: rgba(255, 255, 255, 0.2);
    --bs-btn-border-color: rgba(255, 255, 255, 0.2);
    --bs-btn-border-radius: 4px;
    --bs-btn-hover-color: #005692;
    --bs-btn-hover-bg: #FFFFFF;
    --bs-btn-hover-border-color: #FFFFFF;
    --bs-btn-focus-shadow-rgb: #FFFFFF;
    --bs-btn-active-bg: rgba(255, 255, 255, 0.2);
    --bs-btn-active-border-color: #FFFFFF;
}

.btn-price {
    --bs-btn-font-weight: 700;
    --bs-btn-color: #02131F;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #DADADA;
    --bs-btn-border-radius: 6px;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6AB8EE;
    --bs-btn-hover-border-color: #6AB8EE;
    --bs-btn-focus-shadow-rgb: #fff;
    --bs-btn-active-bg: #1B85CE;
    --bs-btn-active-border-color: #1B85CE;
}

.btn-price:hover {
    font-weight: 500;
}

.btn-look {
    --bs-btn-font-weight: 400;
    --bs-btn-color: #02131F;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #DADADA;
    --bs-btn-border-radius: 6px;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6AB8EE;
    --bs-btn-hover-border-color: #6AB8EE;
    --bs-btn-focus-shadow-rgb: #fff;
    --bs-btn-active-bg: #1B85CE;
    --bs-btn-active-border-color: #1B85CE;
    font-size: 14px;
}

.btn-filter {
    --bs-btn-font-weight: 400;
    --bs-btn-color: #1F375A;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #9D9D9D;
    --bs-btn-border-radius: 6px;
    --bs-btn-hover-color: #FFFFFF;
    --bs-btn-hover-bg: #6AB8EE;
    --bs-btn-hover-border-color: #6AB8EE;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-bg: #1B85CE;
    --bs-btn-active-border-color: #1B85CE;
    font-size: 14px;
}

.btn-call {
    --bs-btn-font-weight: 500;
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #6AB8EE;
    --bs-btn-border-color: #6AB8EE;
    --bs-btn-border-radius: 4px;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8FD1FF;
    --bs-btn-hover-border-color: #8FD1FF;
    --bs-btn-focus-shadow-rgb: #fff;
    --bs-btn-active-bg: #1B85CE;
    --bs-btn-active-border-color: ##1B85CE;
    font-size: 16px;
}

.btn-footer-link {
    --bs-btn-font-weight: 400;
    border: none;
    text-decoration: none;
    --bs-btn-color: #ffffff;
    font-size: 16px;
    --bs-btn-hover-color: #02131F;
}

/*
.bg-primary {
    background: #08335D;
}
*/
@font-face {
    font-family: 'Inter';
    src: url('FONTS/inter/Inter-Regular.ttf');
}

.navbar .dropdown-menu {
    color: $dropdown-color;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.bg-transparent {
    background-color: transparent;
}

.new-productions h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #1F375A;
}

.bg-footer {
    background-color: #555D68;
}

.bg-footer.nav.nav-item:hover {
    color: #6AB8EE;
}

.bg-footer_ads,
.bg-footer_mail,
.bg-footer_clock {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}


footer a,
footer p,
footer .nav .nav-link {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

footer .nav .nav-item .nav-link:hover {
    color: #6AB8EE;
}

.footer_logo {
    width: 116px;
}

.footer_phone {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.footer_cities ul {
    list-style-type: none;
}

.footer_cities ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.footer_copyright p,
.footer_copyright a {
    opacity: 60%;
}

hr.footer_hr {
    opacity: 0.2;
}

.header_container__width {
    width: 249px;
}

.header_block_top {
    height: 143px;
}

.header_block_bottom {
    height: 48px;
}

.header__foreground {
    z-index: 1500;
}

.header__logo {
    display: block;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 6px;
    margin-top: 20px;
    text-align: center;
    padding: 11px 15px 15px 15px;
    color: #0D4574;
}

.header__logo a {
    color: #fff;
    text-decoration: none;
}

.header__logo img {
    width: 135px;
    height: 30px;
}

.header__logo ul {
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    list-style: none;
    padding-left: 30px;
    margin: 1em 0;
}

.header__logo ul li {
    margin-bottom: 15px;
    position: relative;
}

.header__logo ul li:before {
    content: "";
    position: absolute;
    height: 21px;
    width: 21px;
    background-image: url('ICONS/header-check.svg');
    left: -30px;
    top: -4px;
    transform: rotate(10deg);
    background-size: 26px;
    background-position: center;
}

.header__city button {
    color: #fff;
    text-decoration: none;
    padding: 0;
    border: none;
}

.header__city button:hover {
    color: #fff;
    text-decoration: none;
}

.navbar a {
    color: #fff;
    padding-top: 11px;
    padding-bottom: 11px;
}

.navbar ul li.nav-item {
    display: block;
}

.navbar ul li.nav-item a:hover {
    background: #fff;
}

.bg-navbar {
    background-color: $bg-navbar;
}

.leftbar_catalog {}

.leftbar_catalog_chapter {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #1F375A;
    text-decoration: none;
}

.leftbar_catalog.list-group a:hover {
    text-decoration: underline;
}

.leftbar_catalog li a.nav-link.active {
    background: #6AB8EE;
    color: #fff;
}

.certificate a,
.vacancy a,
.delivery a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #1F375A;
}

.delivery .card .card-title {
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #9D9D9D;
}

.delivery .card .card-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #9D9D9D;
}

.banner {
    background: $bg-banner url('IMG/bg-banner.svg') no-repeat;
    background-size: cover
}

.banner_prod-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.8);
}

.tab-content-filter {
    color: rgba(31, 55, 90, 0.6);
}

.tab-content-filter h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1F375A;
}

.tab-conten {
    border: solid 1px #DADADA;
    border-radius: 0px 0px 6px 6px;
    border-top: none;
}

.nav-tabs-filter {
    color: #1F375A;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #DADADA;
    border-bottom: none;
}

.nav-tabs-filter .nav-item:hover {
    background: #8FD1FF;
    border: none;
}

.nav-tabs-filter .nav-link {
    border: none;
    border-bottom: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.nav-tabs-filter .nav-item .nav-link {
    border-right: 1px solid #DADADA;
}

.nav-tabs-filter .nav-item:last-child .nav-link {
    border-right: none;
}

.nav-tabs-filter .nav-item:first-child:hover,
.nav-tabs-filter .nav-item:first-child .active {
    border-radius: 4px 0px 0px 0px;
}

.nav-tabs-filter .nav-item:last-child:hover,
.nav-tabs-filter .nav-item:last-child .active {
    border-radius: 0px 4px 0px 0px;
}

.tab-content-filter {
    border: 1px solid #DADADA;
    border-radius: 0px 0px 6px 6px;
}

.tab-content-filter input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(31, 55, 90, 0.6);
}

.tab-content-filter select {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 55, 90, 0.6);
}

.all_manufacturers {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 55, 90, 0.6);
    text-decoration: none;
}

.all_manufacturers i {
    font-size: .5rem;
}

.form-check-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

#double-range {
    width: 92%;
    height: 10px;
    background: #F6F6F6;
    border-radius: 100px;
}

#double-range .noUi-connect {
    background: #6AB8EE;
}

#double-range .noUi-handle {
    height: 16px;
    width: 16px;
    top: -5px;
    right: -9px;
    border-radius: 9px;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.24);
}

.noUi-handle:before,
.noUi-handle:after {
    display: none;
}

/*
.btn.btn-outline-secondary:hover {
    background-color: #6AB8EE;
    color: #fff;
}
*/
.news,
.reviews-certificates,
.advantage h2,
.engineering-service h2,
.project h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #1F375A;
}

.project p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #1F375A;
}

.advantage p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #02131F;
}

.news h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1F375A;
}

.news_block {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.news p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 55, 90, 0.6);
}

.news_link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: rgba(31, 55, 90, 0.6);
}

.news_date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #9D9D9D;
}

.project::after {
    /*
    font-family: "bootstrap-icons";
    content: "\F284";
    margin: auto 0;
    position: absolute;
    left: 0;
    top: 40%;
    */
}

.project::before {
    /*
    font-family: "bootstrap-icons";
    content: "\F285";
    margin: auto 0;
    position: absolute;
    right: 0;
    top: 40%;
    */
}

@import "responsive.scss";